.MainDivForHederTab {
    padding: 4px;
    border-radius: var(--radius);
    border: 1px solid var(--border);
    background-color: var(--white);
    display: flex;
    align-items: center;
    width: max-content;
    margin-top: 32px;

}

.TextTabDiv {
    padding: 10px 30px;
    border-radius: var(--radius);
    font-family: 'Poppins-Medium';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--subtitle);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.TextTabDivActivTab {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: var(--white);
    padding: 10px 30px;
    border-radius: 6px;
    background-color: var(--primary);
    cursor: pointer;
    transition: all 0.5s ease;
}

.MainDivForFederalTaxTable {
    width: calc(100% - 3px);
    /* height: 547px; */
    border-radius: var(--radius);
    background-color: var(--white);
    border: 1px solid var(--border);
    margin-top: 56px;
}

.NoDataAvelabul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 24px;

}

.MainDivForTabHedings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 24px;
    border-bottom: 1px solid var(--border)
}

.MainDivForHadingText {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.FederalTaxTaxt {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    color: var(--dark);
    margin-bottom: 4px;

}

.ReviewAdjustText {
    font-family: 'Poppins';
    font-size: 13px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--body);

}

.EditButton {
    padding: 10px 20px;
    border-radius: var(--radius);
    background-color: var(--white);
    border: 1px solid var(--border);
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--subtitle);
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

}

.DropDownValiue {
    margin-top: 0px !important;
}

.DropDownValiueStatus {
    margin-top: 0px !important;
    width: 194px !important;
}

.MainDivForHadingRightContent {
    display: flex;
    align-items: center;
    gap: 24px;
}

.SubHedingHeder {
    background: var(--surfacePrimary);
    border-bottom: 2px solid var(--border);
    display: flex;
    align-items: center;
    text-align: center;
}

.SubHedingHederContent {
    background: var(--white);
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    text-align: center;
}

.SubHedingHederContent:last-child {
    background: var(--white);
    display: flex;
    align-items: center;
    text-align: center;
    border-bottom: none;
    border-radius: var(--radius);
}

.SubHadingText {
    padding: 16px 24px !important;
    color: var(--dark) !important;
    width: 30%;
    display: flex;
    border-right: 1px solid var(--border);
}

.SubHadingTextTaxRate {
    padding: 16px 24px !important;
    color: var(--dark) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 auto;
    width: 70%;
}

.SubContentText {
    font-family: 'Poppins-Medium';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--body);
    color: var(--dark);
    width: 100%;
    display: flex;
    border-right: 1px solid var(--border);
    padding: 16px 24px 16px 0px;

}

.SubContentTextSecond {
    font-family: 'Poppins-Medium';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--body);
    color: var(--dark);
    width: 100%;
    display: flex;
    padding: 16px 24px 16px 24px !important;

}

.SubHadingTextContent {
    color: var(--dark) !important;
    padding: 0px 3px 0px 24px;

    width: 30%;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--border);
}

.SubContentTextSecondSection {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 auto;
    width: 70%;
    font-family: Poppins-Medium;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--body);

}


.AddBtnDivRates {
    min-width: 15%;
}

/* Edit Setting Start */
.EditMainDivForHederContent {
    padding: 24px;
    border-radius: var(--radius);
    background: var(--white);
    border: 1px solid var(--border)
}

.EditMainDivForYearAndStatus {
    display: flex;
    align-items: center;
    gap: 20px;
}

.EditLable {
    margin-bottom: 15px;
}

.EditLastModifyDev {
    font-family: 'Poppins';
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.2;
    color: #808080;


}

.HedingMainDiv {
    width: 30%;
}

.EditMainDivTaxableIncomeRange {
    width: 100%;
    display: flex;
    padding-bottom: 60px;
    /* border-bottom: 1px solid var(--border); */
    margin-top: 64px;
}

.ManiDivForEditInformationFild {
    width: 70%;
}

.DeleteButton {
    width: 28px;
    height: 28px;
    padding: 6px 10px;
    border-radius: 5px;
    background-color: #FFD6D8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 37px;
    cursor: pointer;
}

.DeleteButton:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: all 0.5s ease;
}

.EditMainDivForInputAndLableSection {
    display: flex;
    gap: 12px;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 32px;
}

.EditMainDivForInputAndLableSection:nth-child(1) {
    display: flex;
    gap: 12px;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 0px;
}


.EditLebulManegeDivSecond {
    width: 20%;
}

.EditLebulManegeDiv {
    width: 35%;
}

.EditDeleteManiDiv {
    width: 10%;
}

.EditMainDivForCheckboxManage {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 12px;
    margin-top: 10px;
}

.MainDivForButtonCancelCreat {
    display: flex;
    gap: 20px;
    justify-content: end;
    align-items: center;
    max-width: 354px;
    margin-left: auto;
}

.CancelButton {
    background-color: var(--white) !important;
    border: 1px solid var(--primary) !important;
    color: var(--primary) !important;
}

.AddIncomeBtm {
    background-color: var(--white) !important;
    color: var(--dark) !important;
    border: 1px solid var(--border) !important;
    margin-top: 32px !important;
}

.AddIncomeBtm:hover {
    text-decoration: underline;
    background-color: var(--white) !important;
    transition: all 0.4s ease;
}



/* Edit Setting end */

/* Standard deduction start */
.SubHedingHederStandardizedDeduction {
    background: var(--surfacePrimary);
    border-bottom: 2px solid var(--border);
    display: flex;
    align-items: center;
    text-align: center;
}

.SubHadingTextStandardizedDeduction {
    padding: 14px !important;
    color: var(--dark) !important;
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    border-right: 1px solid var(--border)
}

.SubHadingTextStandardizedDeduction:last-child {
    padding: 14px !important;
    color: var(--dark) !important;
    display: flex;
    align-items: start;
    justify-content: start;
    width: 100%;
    border-right: none
}

.MainDivForDataStandardDeduction {
    background-color: var(--white);
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    text-align: center;
}

.MainDivForDataStandardDeduction:last-child {
    background-color: var(--white);
    border-bottom: none;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: var(--radius);
}



.SubMainDivForDataStandardDeduction {
    font-family: 'Poppins-Medium';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    color: var(--body);
    width: 100%;
    padding: 14px;
    border-right: 1px solid var(--border)
}

.SubMainDivForDataStandardDeduction:last-child {
    font-family: 'Poppins-Medium';
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
    color: var(--body);
    width: 100%;
    padding: 14px;
    border-right: none
}

/* Standard deduction end */